.anime-card {
    background-color: white;
    height: 43rem;
    width: 15rem;
    border: 2px solid rgb(123, 123, 219);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 5px black;
}

.anime-card:hover {
    transform: scale(1.05)
}

img {
    margin-top: 5%;
    height: 20.15rem;
    width: 14.25rem;
}

h1, h4, h5 {
    font-size: 1rem;
    margin: 0.3rem;
    text-align: center;
}

h1 {
    height: 25%;
}

.rating {
    margin-top: 4.5%;
    font-weight: 500;
    font-style: italic;
}

h5 {
    margin: 8%;
    font-weight: normal;
    font-size: 75%;
}

.genre {
    height: 15%;
    font-size: 0.9rem;
}

#add-anime-btn {
    margin-top: 38.5%;
}

.in-watch-list {
    font-weight: bold;
    margin-top: 28.5%;
}

#delete-btn {
    margin-bottom: 19%;
}

.anime-details {
    height: 45%;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

#add-anime-btn,
#delete-btn,
.anime-card:hover {
    cursor: pointer;
}

@media screen and (max-width: 415px) {
    img {
        height: 17.15rem;
        width: 11.25rem;
    }

    .anime-card {
        height: 30rem;
        width: 15rem;
        border: 2px solid rgb(123, 123, 219);
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 2px 2px 5px black;
    }

    .anime-details {
        width: 80%;
        height: 40%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .rating {
        margin-top: 4.5%;
        font-weight: 500;
        font-style: italic;
        font-size: 1rem;
    }

    .in-watch-list {
        font-weight: bold;
        margin-top: 8.5%;
    }

    #add-anime-btn {
        margin-top: 8.5%;
    }
}