.random-anime {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 0.8rem;
}

.random-anime-container {
    display: flex;
    background-color: white;
    align-items: center;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 1rem;
}

.pick-of-the-day {
    font-size: 300%;
}

.random-anime-img {
    height: 60%;
    width: 53%;
}

.random-anime-title {
    font-size:larger;
    width: 50%;
    display: flex;
    justify-content: center;
    height: center
}

.random-anime-synopsys {
    padding: 3%;
    margin-right: 1.2rem;
    font-size: 120%;
    height: 100%
}

.add-random-anime {
    margin-top: 3%;
}

.add-random-anime:hover {
    cursor: pointer;
}

@media screen and (max-width: 1142px) {
    .pick-of-the-day {
        font-size: 200%;
    }

    .random-anime-img {
        height: 40%;
        width: 33%;
    }
}